<h1>Membaca Dataset</h1>

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('../Data/day.csv', sep=',')
print(df.head())

   instant      dteday  season  yr  mnth  holiday  weekday  workingday  \
0        1  2011-01-01       1   0     1        0        6           0
1        2  2011-01-02       1   0     1        0        0           0
2        3  2011-01-03       1   0     1        0        1           1
3        4  2011-01-04       1   0     1        0        2           1
4        5  2011-01-05       1   0     1        0        3           1

   weathersit      temp     atemp       hum  windspeed  casual  registered  \
0           2  0.344167  0.363625  0.805833   0.160446     331         654
1           2  0.363478  0.353739  0.696087   0.248539     131         670
2           1  0.196364  0.189405  0.437273   0.248309     120        1229
3           1  0.200000  0.212122  0.590435   0.160296     108        1454
4           1  0.226957  0.229270  0.436957   0.186900      82        1518

    cnt
0   985
1   801
2  1349
3  1562
4  1600

<h1>Menjumlahkan Total Dataset</h1>

In [5]:
n_total = len(df)
print(f"Total data : {n_total}")

Total data : 731

<h4>Menampilkan Data Training (80% dari dataset)</h4>

In [6]:
n_train = int(0.8 * n_total)
print(f"Data training : {n_train}")

Data training : 584

<h4>Menampilkan Data Testing (20% dari dataset)</h4>

In [7]:
n_test = n_total - n_train
print(f"Data testing : {n_test}")

Data testing : 147

<h4>Menampilkan data validasi (10% dari data training)</h4>

In [ ]:
n_valid = int(0.1 * n_train)
print(f"Data validasi : {n_valid}")

Data validasi : 58